form {
  margin-left: 5vw;
  margin-top: 2vw;
  font-size: 1.2vw;
  color: aliceblue;
}

#meddelande {
  padding: 3vw;
}

button {
  margin-left: 5vw;
  margin-top: 1vw;
  font-size: 1vw;
}

@media screen and (max-width: 930px) {
  form {
    font-size: 5vw;
  }

  button {
    font-size: 5vw;
    width: 30vw;
  }
}
