img {
  width: 101.75%;
}

.text {
  color: white;
  border: solid white;
  padding: 5px;
  margin: 10px;
}

.rubrik {
  color: white;
  font-size: 40px;
}

.fakta {
  color: white;
  font-size: 20px;
  font-size: 2vw;
}

@media screen and (max-width: 930px) {
  img {
    width: 100vw;
    height: auto;
    margin: 3vw;
  }

  .fakta {
    font-size: 4.5vw;
    margin: 6vw;
  }

  section {
    flex-direction: column;
  }
}
