* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(50, 49, 49);
}

header {
  display: flex;
  background-color: black;
  padding: 1vw;
  position: sticky;
  top: 0;
}

.head {
  color: white;
  margin: 2vw;
  border: solid white;
  padding: 2vw;
}

a {
  color: white;
  font-size: 2.5vw;
  display: inline-block;
}

a:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

img {
  width: 99.8%;
}

.bild {
  width: 100%;
}

section {
  display: flex;
}

.kolum {
  width: 50%;
  margin: 10px;
  padding: 5px;
  color: white;
  border: solid white;
  font-size: 2vw;
}

.swish {
  margin-top: 20px;
}

.kontaktinfo {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  padding: 20px;
  font-size: 25px;
  text-align: center;
  margin-top: 50px;
  background-color: black;
}

.info {
  padding: 10px;
}
@media screen and (max-width: 930px) {
  body {
    display: flex;
    flex-direction: column;
  }

  header {
    width: 100vw;
    height: 20vw;
    padding: 3px;
    flex-direction: column;
    position: static;
    z-index: 5;
  }

  a {
    font-size: 10vw;
  }

  img {
    width: 100vw;
    height: auto;
  }

  .kolum {
    box-sizing: border-box;
    width: 100vw;
    margin: 4vw;
    padding: 2vw;
  }

  .kontaktinfo {
    width: 100vw;
  }

  section {
    flex-direction: column;
  }

  .fa-3x {
    font-size: 10vw;
  }
}
