img {
  width: 99.8%;
}

.bild {
  width: 100%;
}

section {
  display: flex;
}

.kolum {
  width: 50%;
  margin: 10px;
  padding: 5px;
  color: white;
  border: solid white;
  font-size: 2vw;
}

.swish {
  margin-top: 20px;
}

@media screen and (max-width: 930px) {
  img {
    width: 100vw;
    height: auto;
    margin: 5vw;
  }

  .kolum {
    box-sizing: border-box;
    width: 100vw;
    margin: 4vw;
    padding: 2vw;
    font-size: 4.5vw;
  }

  section {
    flex-direction: column;
  }
}
